<form class="well" (submit)="addTask($event)">
    <div class="form-group">
       <input type="text" class="form-control" [(ngModel)]="title" name="title" placeholder="make a note">
     </div>  

</form>
<div class="task-list">
  <div *ngFor='let task of tasks'>
       <div class="col-md-1">
           <input type="checkbox"  [checked]="task.isDone"  (click)= "updateStatus(task)">
       </div>
       <div  class="col-md-7">
         {{task.title}}
        </div>
       <div class="col-md-4">
        <input type="button" (click)="deleteTask(task._id)" value="delete"  class="btn btn-primary">
          </div>
          <br><br>
         </div> 
         <div >
           <select name="cars">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>

           </div>
  </div>